---

---

<article class="flex flex-col items-center justify-start gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 flex flex-col gap-2"
  >
    <p>
      <strong
        >Degree in development of crossed-platform applications - DAM</strong
      >
    </p>
    <span class="ml-2">Centre d’estudis politècnics, CEP - August 2021</span>

    <p>
      <strong
        >Three year degree on cinema</strong
      >
    </p>
    <span class="ml-2">Escola de cinema de Barcelona, ECIB - June 2020</span>

  </div>

</article>