---
import ExperienceItem from "./ExperienceItem.astro"
import React from "./icons/React.astro"
import Aws from "./icons/Aws.astro"
import Typescript from "./icons/Typescript.astro"
import Tailwind from "./icons/Tailwind.astro"
import Figma from "./icons/Figma.astro"
import AngularJS from "./icons/AngularJS.astro"
import Gatsby from "./icons/Gatsby.astro"

const EXPERIENCE = [
  
  {
    date: "January 2025 - Present",
    title: "Frontend / Software Engineer",
    company: "Clorian",
    descriptionTitle: "Worked on modern commerce applications used in both online and physical sales environments, interacting with real payment devices.",
    descriptions:[
      "Migrated a legacy ATM system to a modern architecture using modern technologies, improving UI quality, accessibility, and long-term maintainability.",
      "Built and integrated payment flows for both online and in-store sales, including payments, refunds, and printing, using Adyen’s API and physical payment devices.",
      "Worked on a multi-platform application capable of generating Android (APK) and desktop applications, supporting real-world commerce use cases.",
      "mproved system stability and developer experience by upgrading outdated dependencies and Node.js versions across multiple projects.",
    ],
    tech_tags: [
      {
        name: "React",
        class: "dark:bg-black dark:text-white bg-white text-black border dark:border-none",
        icon: React,
      },      
      {
        name: "",
        class: "bg-white text-black mx-2 border",
        icon: Aws,
      },
      {
        name: "Typescript",
        class: "dark:bg-black dark:text-white bg-white text-black border dark:border-none",
        icon: Typescript,
      },
      {
        name: "AngularJS",
        class: "dark:bg-black dark:text-white bg-white text-black border dark:border-none",
        icon: AngularJS,
      },
    ]
  },
  {
    date: "May 2021 - December 2024",
    title: "Frontend web developer",
    company: "Spotlio",
    descriptionTitle: "Worked on a CMS-driven web platform with a custom content model, built with Gatsby for static rendering and high performance, integrating seamless in-page e-commerce flows without external checkout redirects.",
    descriptions:[
      "Developed and maintained CMS-powered websites with integrated e-commerce, enabling clients to customize content and manage products directly on their platforms.",
      "Built scalable, performant web applications using React and Gatsby, focusing on SEO-friendly and high-traffic content.",
      "Integrated third-party services, such as weather data APIs and booking systems, ensuring reliable real-time data rendering.",
    ],
    tech_tags: [
      {
        name: "React",
        class: "dark:bg-black dark:text-white bg-white text-black border dark:border-none",
        icon: React,
      },
      {
        name: "Gatsby",
        class: "dark:bg-black dark:text-white bg-white text-black border dark:border-none",
        icon: Gatsby,
      },  
      {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
      },
      {
        name: "",
        class: "bg-white text-black mx-2 border",
        icon: Aws,
      },
      {
        name: "Typescript",
        class: "dark:bg-black dark:text-white bg-white text-black border dark:border-none",
        icon: Typescript,
      },
      {
        name: "Figma",
        class: "bg-white text-black border",
        icon: Figma,
      },
    ]
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
